  body{
    background: #F8F8F8 !important;
  }
  .p_14{
    font-size: 14px;
    color: #767676;
  }
  .width100{
    width: 100%;
  }
  .bg_active{
    background: #EFEFEF;
  }
  .text_p_small{
    font-size: 12px;
    color: #767676;
  }
    .form-inline {
        display: inline-block;
    }
  .navbar-header.col {
    padding: 0 !important;
  }
  .navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
  }
  .top_nav{
	padding: 10px;
}
  .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
  }
  .navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
  }
  .navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
  }
  .search-box {

    }
    .search-box input {
        box-shadow: none;
        padding-right: 35px;
        border-radius: 3px !important;
        border: 1px solid #ccc;
    }
  .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 10px;
        height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
    font-size: 30px;
    }
  .navbar .nav-item i {
    font-size: 18px;
  }
  .navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
  }
  .navbar .nav-item.open > a {
    background: none !important;
  }
  .navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
  }
  .navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
    color: #333;
  }
  .navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
  }
  .navbar .badge {
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
  }
  .navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
    position: relative;
    margin-right: 10px;
  }
  .navbar ul.nav li a.messages {
    margin-right: 20px;
  }
  .navbar a.notifications .badge {
    margin-left: -8px;
  }
  .navbar a.messages .badge {
    margin-left: -4px;
  }
  .navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
  }
  .nav_two .nav-link{
    padding: 10px 20px !important;
  }
  .nav_two .nav-link i{
    padding: 5px 10px;
  }
  .logo_img{
  	height: 70px;
  	padding:5px;
  }
  .modal-backdrop{
    position: relative !important;
    background: #fff !important;
  }
  .modal-dialog {
    position: absolute !important;
    right: 8px;
    top: 78px;
    margin:0!important;
}
/* main layout */
#main_page{
  margin-top: 190px;
}
.news_one img {
    border-radius: 50%;
}
.drp_news i{
  font-size: 22px;
  color: #767676;
}
.seeMore_one{
  color: #767676;
  font-size: 14px;
}
.comment_news .m_recent{
  text-align: right;
}
.h_commnet{
  font-size: 12px;
}
.comment_like{
  font-size: 12px;
  color: #767676;
}
/* right area main page */
.news_right_slider{
  position: relative;
  cursor: pointer;
}
.news_right_slider .Arrow{
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  top: 47%;
  font-size: 25px;
}
.left_arrow{
  left: -12px;
}
.right_arrow{
  right: -12px;
}
.Arrow i{
color: #bfbdbd;
}
.news_right_slider:hover .Arrow{
  visibility: visible;
  color: green;
}
.btm_menu a{
    color: #767676;
    padding: 10px;
    font-size: 14px;
}
/* hub page */
#search_bar_hub{
  margin-top: 180px;
  height: 100%;
  background: #021E3B;
}
.search_hub.border-bottom {
    width: 100%;
}
.search_ul{}
.search_ul li{
    float: left;
    color: #fff;
    padding: 20px;
}
.search_ul li a{
  color: #96A2AE;
}
.hub_se_body{
  background: #fff;
}
.star i{
  font-size: 10px;
    color: #767676;
}
.hub_small_img{

}
.hub_small_img img {
    height: 40px;
    border-radius: 50%;
}
.hub_small_img h6 {
    float: right;
}
/* notice page area */
#num{
  width: 70px;
  padding: 4px;
}
/* blog page */
.blog_icon{
  font-size: 13px;
  color: #767676;
  margin: 5px 15px;
}
.btn_poular_tag{
   background-color: #EFEFEF !important;
}
/* blog details page */
.bt_so{
  color: #fff !important;
}
.btnfecebook{
  background: #3A579A !important;
}
.btntwitter{
  background: #00ABF0 !important;
}
.btnpinterest{
  background: #C92228 !important;
}
.btnlinkdin{
  background: #00669C !important;
}
.bt_blog{
  background: #EFEFEF !important;
}
.btn_del_friends{
  background: #2EA6FF78 !important;
}
#footer{
  background: #1B1C1D;
}
  @media (min-width: 1200px){
    .form-inline .input-group {
      width: 300px;
      margin-left: 30px;
    }
  }
  @media (max-width: 1199px){
    .form-inline {
      display: block;
      margin-bottom: 10px;
    }
    .input-group {
      width: 100%;
    }
  }
